<html lang="en">
<head>
<title>Modelo</title>
</head>
  <body class="background-image">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='css/main.css' rel='stylesheet' type='text/css'>
    <div class="login-block">
        <h1 id="titulo">Login</h1>
        <input type="text" value="" placeholder="Username" id="username" />
        <input type="password" value="" placeholder="Password" id="password" />
        <button id="button-login">Submit</button>
        <p class="error-login"></p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/login.js">
    </script>
  </body>
</html>

